version: "3"
services:
  nexus:
    image: hub.hamdocker.ir/sonatype/nexus3:3.82.1-alpine
    container_name: nexus
    restart: always
    volumes:
      - "nexus-data:/nexus-data"
    ports:
      - "8081"
      - "8085"

    networks:
      - nexus-net

  nginx:
    image: hub.hamdocker.ir/nginx:alpine
    container_name: nexus-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DOMAIN=${DOMAIN}
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/templates:/etc/nginx/templates:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - nexus
    networks:
      - nexus-net

volumes:
  nexus-data:


networks:
  nexus-net: